/* Center all text elements horizontally */
body, p, h1, h2, ul, li, th, td, a {
    text-align: center;
}

/* Set the background color to white and text color to grey and black */
body {
    background-color: #fff;
    color: #333;
}

/* Style the header with a dark background and white text */
header {
    background-color: #333;
    color: #fff;
}

/* Style links with a dark color and remove underlines */
a {
    color: #333;
    text-decoration: none;
}

/* Change link color to a darker shade on hover */
a:hover {
    color: #111;
}
