.topnav {
    text-align: center;
}

.nav-button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.nav-button {
    display: inline-block; /* Display the links as blocks */
    padding: 10px 20px;    /* Add some padding to create button-like space */
    text-decoration: none; /* Remove underline from links */
    background-color: #007bff; /* Set background color for the buttons */
    color: #fff;          /* Set text color to white */
    border-radius: 5px;   /* Add rounded corners */
    margin-right: 10px;   /* Add some spacing between buttons */
}


/* Center all text in the header */
.header {
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 20px;            /* Add padding to the header */
  background-color: #ccc;   /* Set a grey background color */
  border-radius: 10px;      /* Add rounded corners */
}

/* Center the image and make it smaller */
img {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  border: 2px solid #333;
  border-radius: 50%;
}

/* Center all text after the image and increase font size */
.container {
  text-align: center;
  padding: 0 20px
  font-size: 30px;
}

/* Style the contact information table */
table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #333;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333;
  color: white;
}

/* styles.css */
.project-button {
    display: block; /* Make the buttons a block element */
    width: 100%;    /* Full width of the container */
    padding: 20px;   /* Add padding for button spacing */
    text-align: center; /* Center the button text */
    background-color: #007bff; /* Set background color for the buttons */
    color: #fff;    /* Set text color to white */
    text-decoration: none; /* Remove underline from links */
    border-radius: 10px;  /* Add rounded corners */
    margin-bottom: 10px; /* Add space between buttons */
}

.project-button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#dialogText {
    color: white;
    background-color: #333333;
}

#dialogWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: #EEEEEE;
}

#dialogWrapCell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#mainDialog {
    max-width: 400px;
    margin: 5px;
    border: solid #AAAAAA 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px #AAAAAA;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    overflow: hidden;
    text-align: left;
}

#mainDialog > * {
    padding: 10px 30px;
}

#passArea {
    padding: 20px 30px;
    background-color: white;
}

#passArea > * {
    margin: 5px auto;
}

#pass {
    width: 100%;
    height: 40px;
    font-size: 30px;
}

#messageWrapper {
    float: left;
    vertical-align: middle;
    line-height: 30px;
}

.notifyText {
    display: none;
}

#invalidPass {
    color: red;
}

#success {
    color: green;
}

#submitPass {
    font-size: 20px;
    border-radius: 5px;
    background-color: #E7E7E7;
    border: solid gray 1px;
    float: right;
    cursor: pointer;
}

#contentFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 0.8em;
}

#attribution, #attribution a {
    color: #999;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.big-text {
    font-size: 3em; /* Adjust the font size as needed */
}
