.topnav {
    text-align: center;
}

.nav-button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.nav-button {
    display: inline-block; /* Display the links as blocks */
    padding: 10px 20px;    /* Add some padding to create button-like space */
    text-decoration: none; /* Remove underline from links */
    background-color: #007bff; /* Set background color for the buttons */
    color: #fff;          /* Set text color to white */
    border-radius: 5px;   /* Add rounded corners */
    margin-right: 10px;   /* Add some spacing between buttons */
}


/* Center all text in the header */
.header {
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 20px;            /* Add padding to the header */
  background-color: #ccc;   /* Set a grey background color */
  border-radius: 10px;      /* Add rounded corners */
}

/* Center the image and make it smaller */
img {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  border: 2px solid #333;
  border-radius: 50%;
}

/* Center all text after the image and increase font size */
.container {
  text-align: center;
  padding: 0 20px
  font-size: 30px;
}

/* Style the contact information table */
table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #333;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333;
  color: white;
}

/* styles.css */
.project-button {
    display: block; /* Make the buttons a block element */
    width: 100%;    /* Full width of the container */
    padding: 20px;   /* Add padding for button spacing */
    text-align: center; /* Center the button text */
    background-color: #007bff; /* Set background color for the buttons */
    color: #fff;    /* Set text color to white */
    text-decoration: none; /* Remove underline from links */
    border-radius: 10px;  /* Add rounded corners */
    margin-bottom: 10px; /* Add space between buttons */
}

.project-button:hover {
    background-color: #0056b3; /* Change background color on hover */
}
