/* Reset some default styles */
body, h1, h2, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#interests, #image, #contact {
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
}

ul {
    list-style: none;
}

li {
    font-size: 18px;
    margin: 5px 0;
}

/* Style the contact section as a table */
#contact {
    text-align: center;
    margin-top: 20px;
}

#contact h2 {
    font-size: 24px;
}

/* Style the contact table */
#contact table {
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 10px;
}

#contact th, #contact td {
    padding: 10px;
    border: 1px solid #ccc;
}

#contact th {
    background-color: #f2f2f2;
    font-weight: bold;
}


/* Center the image */
#image img {
    display: block;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 24px;
}

main {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    font-size: 16px;
}

#binaryResult {
    font-size: 20px;
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}
